      <div class="foot"><%= nav_rss(@feeds[ _('Recent Updates') ]) %></div>
    </td>
  </tr>
  <tr><td class="links-head"><%= _('Links') %></td></tr>
  <tr><td class="links">
    <p><a href="query/run?q=<%= @all_replies_query %>"><%= _('All Replies') %></a></p>
    <p><a href="moderation"><%= _('Moderation Log') %></a></p>
    <%= @more_links %>
    <%= @imported_feeds %>
  </td></tr>
</table>

<% unless @footer.empty? %>
<div id="front-footer"><%= @footer %></div>
<% end %>
