
<div id="foot">
Powered by <a href="http://www.fsf.org/">Free Software</a>, including
<a href="http://www.ruby-lang.org/">Ruby</a> programming language,
<a href="http://www.postgresql.org/">PostgreSQL</a> database.
<a href="http://samizdat.nongnu.org/">Samizdat</a> engine is free
software; you can distribute/modify it under the terms of the GNU
<a href="http://www.gnu.org/licenses/gpl.txt">General Public License</a>
version 3 or later.</div>

</div>
</body>
</html>
