/* definitions common to every stylesheet 
(due to bug in NN4.x @import should use full path to stylesheet) */
@import url("common.css");

/* global settings */
body {
	margin: 0;
	padding: 0;
	height: 100%;
	color: #fff;
	background: #000; }
p { margin: 0.5em 0; }
form { margin: 0; padding: 0; }
pre { margin: 0.25em 0; }
h1, h2, h3, h4, h5, h6 { margin: 0; }

/* site head */
#head {
	margin: 0 0.7em;
	color: #fff;
	background: #000; }
#head-left {
	text-align: left;
	height: 36px; }
#head-right {
	font-size: small;
	font-weight: bold;
	font-variant: small-caps;
	text-align: right;
	min-height: 20px;
	background: #555; }
#subhead {
	margin: 0 0.7em;
	color: #fff;
	background: #036; }
#subhead-right {
	font-size: small;
	text-align: right; }
#languages {
	margin-right: 2px;
	text-align: right;
	font-size: small; }

/* main section */
#main {
	margin: 1em 0.7em; }

/* site foot */
#foot {
	position: relative;
	left: 5px;
	margin: 0 0 2px 0;
	color: #999;
	font-size: x-small; }

/* custom header and footer */
#front-header, #front-footer {
	position: relative;
	top: 0; right: 0;
	margin: 2px;
	font-size: small; }
#front-footer {
	background: #024; }


/* content box */
div.box {
	margin: 0; }
div.box-title {
	margin-bottom: 0.5em;
	padding: 1px;
	padding-left: 5px;
	text-align: left;
	font-size: small;
	font-variant: small-caps;
	color: #fff;
	background: #700; }
div.box-content {
	text-align: left;
	margin-bottom: 1em; }
div.box-content div.box-title {
	font-size: 100%;
	font-variant: normal;
	color: #fff;
	background: #555; }
div.box-content div.box-content div.box { }
div.box-content div.box-content div.box-title {
	background: #036; }

/* form elements */
div.label {
	margin-bottom: 3px; }
input, textarea {
	margin-top: 1px;
	margin-bottom: 4px;
	padding: 1px;
	background: #fff; }
input + input { margin-left: 15px; }
select {
	margin-top: 1px;
	margin-bottom: 4px;
	margin-right: 15px;
	padding: 0px;
	background: #fff; }
input.submit {
	margin-top: 4px;
	padding: 0; }
p.moderation {
	font-weight: bold;
	background: #400; }

/* action links */
a.action, a.action:visited { color: #f90; }
a.moderator_action, a.moderator_action:visited {
	padding: 1px 3px 1px 3px;
	text-decoration: none;
	color: #fff;
	background: #700; }

/* resource list */
ul {
	list-style-type: none;
	padding: 0;
	margin: 0; }
ul li {
	margin-top: 2px; }
ul li.even { background: #222; }

/* table */
table { width: 97%; }
div>table { width: 100%; }  /* MSIE hack */
th { background: #555; }
td, th {
	padding: 4px;
	vertical-align: top; }
tr { background: #000; }
tr.even { background: #222; }
td.tags { width: 15%; height: 100%; text-align: left; }
td.links-head { height: 100%; font-weight: bold; background: #555; }
td.links { text-align: left; font-size: small; }
td.features { width: 55%; text-align: left; }
td.updates { background: #036; }
td.updates ul li.even { background: #024; }

/* diff table */
table.diff th { font-weight: normal; }
table.diff td {
	vertical-align: top;
	text-align: left; }
table.diff td.delete { background: #733; }
table.diff td.add { background: #373; }

/* list foot */
div.foot { text-align: right; }

/* navigation link */
div.nav { font-size: small; }

/* resource description */
div.resource {
	text-align: left;
	padding-bottom: 3px; }
div.title { font-weight: bold; }
div.info {
	font-style: italic;
	font-size: small; }

/* message */
div.message { margin-top: 1px; text-align: left; }
ul div.message {
	background: #000; }
div.message div.title {
	background: #400; }
div.message div.info {
	padding-bottom: 2px;
	background: #300; }
div.message div.content {
	margin-top: 2px;
	padding: 4px 4px 4px 0; }
div.replies div.replies {
	padding-left: 1.5em; }

/* markup in a message */
div.content ul {
	list-style-type: square;
	margin: 0.25em 0;
	padding-left: 2em; }
div.content li { border: none; }
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-bottom: 0.25em;
	border-bottom: 1px solid #999; }

/* feeds */
div.feed {
	margin-top: 0.5em;
	padding-top: 0.25em;
	border-top: 1px solid #000; }
div.feed-name {
	margin-bottom: 0.5em;
	padding-bottom: 2px;
	background: #400; }
div.feed li {
	margin-bottom: 0.5em;
	border: 0; }

/* anchors */
a { color: #f90; }
a:visited { color: #990; }

#head a {
	color: #f90;
	text-decoration: none; }
#head a:visited { color: #f90; }
#head a:hover { text-decoration: underline; }

#subhead a {
	color: #f90;
	text-decoration: none; }

#subhead a:hover {
	color: #f90;
	text-decoration: underline; }

div.title a, td.tags a, td.links a {
	text-decoration: none; }
div.title a:hover, td.tags a:hover, td.links a:hover {
	text-decoration: underline; }

div.box-title a, div.box-title a:visited {
	color: #fff; }
div.title a, div.title a:visited, div.info a, div.info a:visited,
div.box-content div.box-title a, div.box-content div.box-title a:visited,
td.tags a, td.tags a:visited, td.links a, td.links a:visited {
	color: #f90; }

/* search box */
div#head-right form { border-color: #000; }
